/* 
    Created on : 23 de mai. de 2022, 13:30:47
    Author     : Welyson
*/

.root
{
    -fx-background-color: #745b3a
}

.button
{
    -fx-background-color: #74ddd3
}

.button-ops
{
    -fx-background-color: #74a631
}